Source: phone-home-detector
Section: misc
Priority: optional
Maintainer: Viru Gajanayake <viru.gajanayake@yahoo.com>
Build-Depends: debhelper-compat (= 13), maven, openjdk-17-jdk, clang
Standards-Version: 4.6.0
Homepage: https://github.com/vgaj/phd
Rules-Requires-Root: no

Package: phone-home-detector
Architecture: amd64
# bpftool is provided by linux-tools-common on Ubuntu 24.04
# on Debian there is the package called bpftool but the version provided is currently too old
Depends: ${misc:Depends}, systemd, network-manager, iproute2, openjdk-17-jre, mawk, linux-tools-common
Description: Detects if something is "Phoning Phone"
 Installs a service called phone-home-detector which monitors traffic
 to identify something that might be phoning home to check for updates etc.
 Provides a command line interface called phone-home-detector that
 enables the results to be queried.
