#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_clean:
	mvn clean -Duser.home=maven_home
	dh_auto_clean

override_dh_auto_build:
	mvn package -DskipTests -Duser.home=maven_home
	dh_auto_build

override_dh_auto_test:
	mvn test -Duser.home=maven_home
