Package: phone-home-detector
Version: 0.1
Section: misc
Priority: optional
Architecture: amd64
# bpftool is provided by linux-tools-common on Ubuntu 24.04
# on Debian there is the package called bpftool but the version provided is currently too old
Depends: systemd, bash, coreutils, network-manager, iproute2, openjdk-17-jre, mawk, grep, linux-tools-common
Maintainer: Viru Gajanayake <viru.gajanayake@yahoo.com>
Description: Detects if something is "Phoning Phone"
 Installs a service called phone-home-detector which monitors traffic
 to identify something that might be phoning home to check for updates etc.
 Provides a command line interface called phone-home-detector that
 enables the results to be queried.
