<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:border="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Phone Home Detector</title>
    <style>
        table {
            border-collapse: collapse;
        }
        th, td {
            border: 2px solid black;
            padding: 10px;
        }
    </style>
</head>
<body>
<table style="border-collapse: collapse;">
    <tr>
        <th>Source</th>
        <th>Destination</th>
        <th>Last Seen</th>
        <th>Current?</th>
        <th>Score</th>
        <th>Details</th>
        <th />
    </tr>
    <tr th:each="result: ${results}">
        <td th:text="${result.source}" />
        <td th:text="${result.destination}" />
        <td th:text="${result.lastSeen}" />
        <td th:text="${result.isCurrent}" />
        <td th:text="${result.score}" />
        <td>
            <div th:each="line: ${result.details}" >
                <div th:text="${line}" />
            </div>
        </td>
        <td>
            <a th:href="@{/data(address=${result.destination})}" onclick="window.open(this.href, '_blank', 'width=800,height=600'); return false;">see data</a>
        </td>
    </tr>
</table>
</body>
</html>
